{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block slide %}
    {{ include('front/includes/slide.html.twig') }}
{% endblock %}
{% block body %}
    <!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <h1>Contenu dynamique en attente</h1>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-1 -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/global/page.js') }}" type="text/javascript"></script>
{% endblock %}