<footer class="wow fadeIn">
    <div class="padding-50px-tb xs-padding-30px-tb">
        <div class="container">
            <div class="row">
                <!-- start logo -->
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="{{ path('homepage') }}" target="_blank"><img class="footer-logo" src="{{ asset('build/front/static/logo_web.png') }}" data-rjs="{{ asset('build/front/static/logo@2x.png') }}" alt="innove-it.net"></a>
                </div>
                <!-- end logo -->
            </div>
        </div>
    </div>
</footer>