<footer class="wow fadeIn">
    <div class="padding-50px-tb xs-padding-30px-tb">
        <div class="container">
            <div class="row">
                <!-- start logo -->
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="../../index.html" target="_blank"><img class="footer-logo" src="images/themezaa.png" data-rjs="images/themezaa@2x.png" alt="Pofo"></a>
                </div>
                <!-- end logo -->
            </div>
        </div>
    </div>
</footer>