<section class="no-padding main-slider height-100 mobile-height wow fadeIn">
    <div class="swiper-full-screen swiper-container height-100 width-100 white-move">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url({{ asset('build/global/images/homepage-3-slider-img-6.jpg') }});">
                <div class="opacity-extra-medium bg-black"></div>
                <div class="container position-relative full-screen">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom sm-margin-four-bottom xs-margin-five-bottom">we combine design, thinking and technical craft</h6>
                                <div class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-3 title-extra-large margin-two-bottom width-60 center-col md-width-80 sm-margin-four-bottom xs-width-90 xs-margin-five-bottom">creative thinker</div>
                                <div class="btn-dual"><a href="transparent-header.html" class="btn btn-transparent-white btn-small xs-margin-two-all">About Company</a><a href="transparent-header.html" class="btn btn-transparent-white btn-small xs-margin-two-all">Purchase Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url('images/homepage-3-slider-img-5.jpg');">
                <div class="opacity-extra-medium bg-black"></div>
                <div class="container position-relative full-screen">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom sm-margin-four-bottom xs-margin-five-bottom">we're a design studio that believe in the ideas</h6>
                                <div class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-3 title-extra-large margin-two-bottom width-60 center-col md-width-80 sm-margin-four-bottom xs-width-90 xs-margin-five-bottom">empower elevate</div>
                                <div class="btn-dual"><a href="transparent-header.html" class="btn btn-transparent-white btn-small xs-margin-two-all">About Company</a><a href="transparent-header.html" class="btn btn-transparent-white btn-small xs-margin-two-all">Purchase Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url('images/homepage-3-slider-img-4.jpg');">
                <div class="opacity-extra-medium bg-black"></div>
                <div class="container position-relative full-screen">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom sm-margin-four-bottom xs-margin-five-bottom">we're a design studio that believe in the ideas</h6>
                                <div class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-3 title-extra-large margin-two-bottom width-60 center-col md-width-80 sm-margin-four-bottom xs-width-90 xs-margin-five-bottom">creative design</div>
                                <div class="btn-dual"><a href="transparent-header.html" class="btn btn-transparent-white btn-small xs-margin-two-all">About Company</a><a href="transparent-header.html" class="btn btn-transparent-white btn-small xs-margin-two-all">Purchase Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-square swiper-pagination-white swiper-full-screen-pagination"></div>
        <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
        <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
    </div>
</section>